<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <p>"Blogging is not for earning it's about helping others with the knowledge that you have"</p>
    <p><strong>Syed Faizan Ali</strong></p>
  </div>
  <div class="sidebar-module">
    <h4>My Socials</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/buleemozar"><%= fa_icon "github-square" %></a></li>
      <li><a href="https://www.facebook.com/profile.php?id=100010355012030"><%= fa_icon "facebook-official" %></a></li>
      <li><a href="https://twitter.com/buleemozar"><%= fa_icon "twitter-square" %></a></li>
      <li><a href="https://www.instagram.com/buleemozar/"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://buleemozar.tumblr.com/"><%= fa_icon "tumblr-square" %></a></li>
    </ol>
  </div>
</div>